node_modules/
.DS_Store
atlassian-sprint-view.vsix
*.log
.env.local
webview-ui/dist/
webview-ui/**/*.js
webview-ui/**/*.js.map
webview-ui/.certs/

# macOS
.DS_Store

# editor
.vscode/
!.vscode/
!.vscode/launch.json
!.vscode/tasks.json
